#footer-wrap
  #footer-left
    .footer-title
      span= config.title + '|'
      if theme.footer.owner.enable
        - var now = new Date()
        - var nowYear = now.getFullYear()
      if theme.footer.owner.since && theme.footer.owner.since != nowYear
        span.footer-copyright!= `&copy;${theme.footer.owner.since} - ${nowYear} By ${config.author}`
      else
        span.footer-copyright!= `&copy;${nowYear} By ${config.author}`
    .footer-button
      a(title='GitHub' href='https://github.com/yeeecheung')
        i.fab.fa-github
      a(title='知乎' href='https://www.zhihu.com/people/bao-xiao-xiang-zi')
        i.fab.fa-zhihu
    .wordcount
    - let allword = totalcount(site)
    span.text!= 'yeeecheung 已经写了 ' + allword + ' 字，'
    if isNaN(allword)
      - allword= Number(allword.replace('k', ''))
      if allword< 50
        span.text!= "还在努力更新中.. 加油！加油啦！"
      else if allword< 70
        span.text!= "好像写完一本 埃克苏佩里 的 《小王子》 了啊"
      else if allword< 90
        span.text!= "好像写完一本 鲁迅 的 《呐喊》 了啊"
      else if allword< 100
        span.text!= "好像写完一本 林海音 的 《城南旧事》 了啊"
      else if allword< 110
        span.text!= "好像写完一本 马克·吐温 的 《王子与乞丐》了！ 了啊"
      else if allword< 120
        span.text!= "好像写完一本 鲁迅 的 《彷徨》 了啊"
      else if allword< 130
        span.text!= "好像写完一本 余华 的 《活着》 了啊"
      else if allword< 140
        span.text!= "好像写完一本 曹禺 的 《雷雨》 了啊"
      else if allword< 150
        span.text!= "好像写完一本 史铁生 的 《宿命的写作》 了啊"
      else if allword< 160
        span.text!= "好像写完一本 伯内特 的 《秘密花园》 了啊"
      else if allword< 170
        span.text!= "好像写完一本 曹禺 的 《日出》 了啊"
      else if allword< 180
        span.text!= "好像写完一本 马克·吐温 的 《汤姆·索亚历险记》 了啊"
      else if allword< 190
        span.text!= "好像写完一本 沈从文 的 《边城》 了啊"
      else if allword< 200
        span.text!= "好像写完一本 亚米契斯 的 《爱的教育》 了啊"
      else if allword< 210
        span.text!= "好像写完一本 巴金 的 《寒夜》 了啊"
      else if allword< 220
        span.text!= "好像写完一本 东野圭吾 的 《解忧杂货店》 了啊"
      else if allword< 230
        span.text!= "好像写完一本 莫泊桑 的 《一生》 了啊"
      else if allword< 250
        span.text!= "好像写完一本 简·奥斯汀 的 《傲慢与偏见》 了啊"
      else if allword< 280
        span.text!= "好像写完一本 钱钟书 的 《围城》 了啊"
      else if allword< 300
        span.text!= "好像写完一本 张炜 的 《古船》 了啊"
      else if allword< 310
        span.text!= "好像写完一本 茅盾 的 《子夜》 了啊"
      else if allword< 320
        span.text!= "好像写完一本 阿来 的 《尘埃落定》 了啊"
      else if allword< 340
        span.text!= "好像写完一本 艾米莉·勃朗特 的 《呼啸山庄》 了啊"
      else if allword< 350
        span.text!= "好像写完一本 雨果 的 《巴黎圣母院》 了啊"
      else if allword< 360
        span.text!= "好像写完一本 东野圭吾 的 《白夜行》 了啊"
      else
        span.text!= "好像写完一本我国著名的 四大名著 了！！！"
    else
      span.text!= "还在努力更新中... 加油！加油啦！"
  #footer-right
    .footer-totop
      i.fas.fa-chevron-up(onclick='scrollToTop()')
    .footer-info
      p= '使用Hexo框架 | 基于butterfly修改'
      